{% extends 'employees\employee_base.html' %}

{% block title %} Employee Profile Edit {% endblock %}

{% block header %} Update Your Information {% endblock %}

{% block content %}
<br />
<form action="{% url 'employee:edit_employee_profile' employee.id %}" method="post">
    {% csrf_token %}
    Name: <input type="text" name="name" id="name">
    <br />
    <br />
    Zip Code: <input type="text" name="zip_code" id="zip_code">
    <br />
    <br />
    <input type="submit" value="Submit">
</form>

{% endblock %}