{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
        Hello Employee {{ logged_in_employee.name }}!
        Zip Code: {{logged_in_employee.zip_code }}<br />
        </ul>
        <div><h1>Customers in Zip Code Who Need Service Today : </h1>  <ul>
          {% for customer in all_customers %}
          <li><h2>{{customer.name}}
          <a href="{% url 'employees:confirm_pickup' %}"> Confirm Pickup</a> 
        </div>
        
        <div> Pick Up Day : {{specific_day}}
          {% endfor %}
        </h2></li>
        

    
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}