{% extends 'base.html' %}

{% block title %}{% block header %} Employee Home {% endblock %}{% endblock %}

{% block content %}
  {% if user.is_authenticated %}
        Hello Employee {{ user.username }}!
        Zip Code: {{logged_in_employee.zip_code }}<br />
        <div>Customers in Zip Code {{logged_in_employee.zip_code }} :</div>
        <div> Pick Up Day : {{today.weekday}} </div>
        <div> Non Supsended Accounts :</div>
        <div> Trash Picked up today? :</div>
        

    
  {% else %}
    <p>You are at the employee index, but you are not logged in.</p>
    <a href="{% url 'login' %}">Log In</a>
    <a href="{% url 'accounts:register' %}">Sign Up</a>
  {% endif %}
{% endblock %}